Repository cloudical-io/CLOPS-helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scanner image, yaml diff image, release

scanner image:
  before_script:
  - echo "{\"auths\":{\"${CI_CONTAINER_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${REGISTRY_USER}" "${REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  stage: prepare
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  ...

yaml diff image:
  before_script:
  - echo "{\"auths\":{\"${CI_CONTAINER_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${REGISTRY_USER}" "${REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  stage: prepare
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  ...

release:
  image: $CI_CONTAINER_REGISTRY/cci-tools/semantic-release@sha256:3c237539f069b3ed5a863f9d02682ca5844a4c5cb3c1e2629043c33c56b93c6d
  stage: release
  script:
  - semantic-release

fix: ci yaml
  .releaserc
Due: release

chore(release): 0.2.0-true.1
  CHANGELOG.md
Due: none

chore(release): 0.2.0-true.2
  CHANGELOG.md
Due: none

remove: semver bugs
  CHANGELOG.md
Due: none

fix: ci
  .gitlab-ci.yml
Due: release

chore(release): 0.2.0-rc.1
  CHANGELOG.md
Due: none

chore(release): 0.2.0-rc.2
  CHANGELOG.md
Due: none

update: gitlab-ci
  .gitlab-ci.yml
Due: release

chore(release): 0.2.0
  CHANGELOG.md
Due: none

update: ci create release on tags
  .gitlab-ci.yml
Due: release

fix(loki): missing labels
  values.yaml
Due: release

fix(loki): monitoring components
  values.yaml
Due: release

chore(release): 0.2.1
  CHANGELOG.md
Due: none

remove(gitlab-ci): release breaking ci
  .gitlab-ci.yml
Due: release

add(hack): specific version diff script
  docker/Dockerfile-k8s
  hack/interactiveChoice.sh
Due: yaml diff image, release

update(clops): kube prometheus stack major bump
  .gitignore
  .helmignore
  Chart.lock
  Chart.yaml
  UPGRADING.md
  hack/interactiveChoice.sh
  values.yaml
Due: release

chore(release): 1.0.0-rc.1
  CHANGELOG.md
Due: none

chore(release): 1.0.0
  CHANGELOG.md
Due: none

add: license
  LICENSE
Due: release

feat: bump chart versions
  Chart.yaml
  hack/requirements.yaml
Due: release

update: loki basic auth
  Chart.lock
  values.yaml
Due: release

chore(release): 1.1.0
  CHANGELOG.md
Due: none

Path conditions:
  scanner image: any of: docker/Dockerfile
  yaml diff image: any of: docker/Dockerfile-k8s
  release: not (any of: CHANGELOG.md)
